/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import './overrides';

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
}

body {
  font-family: 'Inter';
}
