<div class="row justify-content-start">
  <div class="col-md-12 col-lg-6 mt-5">
    <!-- Get device parameter by ID -->
    <div class="card">
      <div class="card-body">
        <label class="form-label fw-semibold" for="parameterId">Device parameter ID</label>
        <div class="input-group">
          <input type="text" class="form-control fs-6" [formControl]="formControl">
          <button type="submit" class="btn btn-sm btn-primary text-end"
            (click)="getDeviceParamById(formControl.value)">Get by ID</button>
          <button type="submit" class="btn btn-sm btn-outline-primary text-end" (click)="getRandomDeviceParam()">Get
            random</button>
        </div>
        <div class="invalid text-start ms-2">
          <div *ngIf="formControl.invalid">
            <span>Invalid value. Device parameter ID is required</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Device parameters list -->
    <div *ngIf="parameter; else noParameters">
      <h6 class="mt-3 mb-3">Device parameters:</h6>
      <angie-device-parameter [parameters]="parameter" (update)="update($event)"></angie-device-parameter>
    </div>
  </div>
</div>

<!-- No parameters text -->
<ng-template #noParameters>
  <p class="fs-6 fw-normal mt-3 ms-1">No device parameters currently loaded...</p>
</ng-template>